* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #fff;
  padding-top: 100px;
}

.navbar {
  line-height: 150px;
  background: #fff;
  margin-bottom: 0px;
}

.navbar-brand {
  padding: 0px 15px;
  margin: 25px 0px;
}

.navbar-right {
  margin-top: 25px;
}

.navbar-toggle {
  margin-top: 33px;
}

.navbar-nav>li>a {
  transition: 300ms ease-in-out;
  color: #555555 !important;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus, .navbar-nav>li>a:active {
  color: #3c9adc !important;
}

.banner {
  width: 100%;
  background: url("../img/overlay.png"), url("../img/banner.jpg");
  background-size: cover;
  background-position: center center;
  padding: 110px 0px 130px 0px;
}

.banner_search {
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
}

.banner_container {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 60px;
}

.banner_container h1 {
  margin-bottom: 20px !important;
}

.seventy {
  width: 70%;
  float: left;
}

.thirty {
  width: 30%;
  float: left;
}

.seventy input {
  width: 100%;
  border-radius: 4px 0px 0px 4px !important;
  border: none;
  height: 50px;
  padding: 20px;
}

.thirty input {
  width: 100% !important;
  border-radius: 0px 4px 4px 0px !important;
  border: none;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
}

.thirty input {
  width: 100% !important;
  border-radius: 0px 4px 4px 0px !important;
  border: none;
  height: 50px;
  font-size: 17px;
  font-weight: 500;
}

.thirty input:hover {
  background: #40a6ee;
  color: #fff;
}

.btn-custom {
  background-color: #3c9adc;
}

.title {
  letter-spacing: 1px;
  color: #555555;
}

.divider {
  margin: 0 auto;
  height: 5px;
  width: 100px;
  background: #3c9adc;
  margin: 30px auto 30px auto;
}

.text {
  font-size: 20px;
  color: #555555;
  padding-bottom: 50px;
}

.section1 {
  padding: 50px 0px 70px 0px;
  text-align: center;
}

.activity {
  border: 1px solid #dbdbdb;
  padding: 50px 0px;
  margin-bottom: 30px;
}

.activity h4 {
  margin-top: 40px !important;
  letter-spacing: 1px;
  color: #555;
}

.activity .divider {
  margin: 0 auto;
  height: 5px;
  width: 60px;
  background: #3c9adc;
  margin: 30px auto 0px auto;
}

.section1 a {
  text-decoration: none;
}

.section1 a:hover {
  color: #555555;
}

.activity:hover {
  background: #f7f7f7;
}

.footer {
  background: #f7f7f7;
  padding: 35px 0px;
  color: #555;
}


.navbar-default .navbar-toggle {
  border-color: transparent !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: #fff !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #3c9adc !important;
  height: 3px;
}

@media screen and (max-width: 767px) {
  .navbar-right { margin: 15px 0px; }
}
